* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

.home-container {
    padding: 50px;
    text-align: center;
}